html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.h-screen {
  height: 100vh;
}

.btn-block {
  width: 100% !important;
}
.form-control {
  border-color: #f1f1f1;
}

input::placeholder,
.css-1wa3eu0-placeholder {
  font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
  border-width: 2px;
}

.login-bg-img {
  background-image: url("/assets/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.register-bg-img {
  background-image: url("/assets/register-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.forgot-password-bg-img {
  background-image: url("/assets/forgot-password-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reset-password-bg-img {
  background-image: url("/assets/reset-password-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-fb {
  background-color: #3b579d;
  color: #fff;
}

.btn-gg {
  background-color: #dc4a38;
  color: #fff;
}

.btn:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

.cardu {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.cardu:hover,
.cardu:focus,
.cardu:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cardu h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardu p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.category-item {
  width: 45%;
}

.css-yk16xz-control {
  border: 1px solid #ced4da !important;
  height: 100% !important;
  cursor: pointer !important;
}

.css-1pahdxg-control {
  border: 1px solid #86b7fe !important;
  box-shadow: none !important;
}

div.form-control {
  border-color: #f1f1f1 !important;
}

div.form-control:focus,
div.form-control:active,
div.form-control:focus-within,
div.form-control:focus-visible {
  border: 2px solid #86b7fe !important;
}
